<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yummyclimbing.mapper.mountain.MountainInfoMapper">
	<sql id="mountainInfoColsIncludeMiNum">
		MI_NUM, MNTNCD, MNTNM, MNTHEIGHT, AREANM, 
		AEATREASON, ETCCOURSE, OVERVIEW, SUBNM, TOURISMINF, 
		DETAILS, MI_CREDAT, MI_LMODAT, MNTNATTCHIMAGESEQ, TRANSPORT,
		LAT, LOT
	</sql>
	
	<sql id="mountainInfoCols">
		MNTNCD, MNTNM, MNTHEIGHT, AREANM, AEATREASON, 
		ETCCOURSE, OVERVIEW, SUBNM, TOURISMINF, DETAILS, 
		MI_CREDAT, MI_LMODAT, MNTNATTCHIMAGESEQ, TRANSPORT, LAT, 
		LOT
	</sql>
	
	<!-- select -->
	<select id="selectMountainInfoList" resultType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		SELECT
			<include refid="mountainInfoColsIncludeMiNum" />
		FROM
			MOUNTAIN_INFO
		<where>
			<if test='mntnm!=null and mntnm!=""'>	<!-- 산이름 -->
				AND MNTNM LIKE CONCAT('%',#{mntnm},'%')
			</if>
			<if test='areanm!=null and areanm!=""'> <!-- 지역 -->
				AND AREANM LIKE CONCAT('%',#{areanm},'%')
			</if>
		</where>
		ORDER BY
			MNTNM ASC
	</select>

	<select id="selectMountainInfoByMiNum" resultType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		SELECT
			<include refid="mountainInfoColsIncludeMiNum" />
		FROM
			MOUNTAIN_INFO
		WHERE
			MI_NUM = #{miNum}
	</select>
	
	<select id="selectMountainInfoByMntnm" resultType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		SELECT
			<include refid="mountainInfoColsIncludeMiNum" />
		FROM
			MOUNTAIN_INFO
		WHERE
			MNTNM = #{mntnm}
	</select>	
<!-- 	<select id="selectMountainInfoListForLike" resultType="com.yummyclimbing.vo.mountain.MountainItemVO">
		SELECT
			<include refid="mountainInfoColsIncludeMiNum" />
		FROM
			MOUNTAIN_INFO MI, MOUNTAIN_USER_LIKE MUL
		<where>
			<if test='mntnm!=null and mntnm!=""'>	산이름
				AND MNTNM LIKE CONCAT('%',#{mntnm},'%')
			</if>
			<if test='areanm!=null and areanm!=""'> 지역
				AND AREANM LIKE CONCAT('%',#{areanm},'%')
			</if>
		INNER JOIN MUL
		ON
		(MI.MI_NUM = MUL.MI_NUM)
		</where>
		ORDER BY
			MI.MNTNM ASC, MUL.
	</select> -->

	<!-- insert -->
	<insert id="insertMountainInfoList"	parameterType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		INSERT INTO
			MOUNTAIN_INFO
			(
				<include refid="mountainInfoCols" /> 
			)
			VALUES
			<foreach collection="mountainList" item="mountainInfo" separator=",">
			(
				#{mountainInfo.mntncd}, #{mountainInfo.mntnm}, #{mountainInfo.mntheight}, #{mountainInfo.areanm},
				#{mountainInfo.aeatreason}, #{mountainInfo.etccourse}, #{mountainInfo.overview}, #{mountainInfo.subnm}, 
				#{mountainInfo.tourisminf}, #{mountainInfo.details}, DATE_FORMAT(NOW(),'%Y%m%d'), DATE_FORMAT(NOW(),'%Y%m%d'),
				#{mountainInfo.mntnattchimageseq}, #{mountainInfo.transport}, #{mountainInfo.lat}, #{mountainInfo.lot}
			)
			</foreach>
	</insert>
	
	<insert id="insertMountainInfo"	parameterType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		INSERT INTO
			MOUNTAIN_INFO
			(
				<include refid="mountainInfoCols" /> 
			)
			VALUES
			(
				#{mntncd}, #{mntnm}, #{mntheight}, #{areanm},
				#{aeatreason}, #{etccourse}, #{overview}, #{subnm}, 
				#{tourisminf}, #{details}, DATE_FORMAT(NOW(),'%Y%m%d'), DATE_FORMAT(NOW(),'%Y%m%d'),
				#{mntnattchimageseq}, #{transport}, #{lat}, #{lot}
			)
	</insert>
	
	<!-- update -->
	<!-- 산정보 API에 MNTNCD(산코드)가 누락되는 경우가 있어 MNTNM(산이름/UNIQUE)으로 업데이트함 -->
<!-- 	<update id="updateMountainInfoList" parameterType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		<foreach collection="mountainList" item="mountainInfo" separator=";">
			UPDATE
				MOUNTAIN_INFO
			<set>
				MNTHEIGHT=#{mountainInfo.mntheight}, AREANM=#{mountainInfo.areanm}, AEATREASON=#{mountainInfo.aeatreason}, 
				ETCCOURSE=#{mountainInfo.etccourse}, OVERVIEW=#{mountainInfo.overview}, SUBNM=#{mountainInfo.subnm}, 
				TOURISMINF=#{mountainInfo.tourisminf}, DETAILS=#{mountainInfo.details}, MI_LMODAT=DATE_FORMAT(NOW(),'%Y%m%d')
				MNTNATTCHIMAGESEQ=#{mountainInfo.mntnattchimageseq}, TRANSPORT=#{mountainInfo.transport}, LAT=#{mountainInfo.lat}, 
				LOT=#{mountainInfo.lot}
			</set>
			<where>
				AND MNTNM=#{mountainInfo.mntnm}
			</where>
		</foreach>
	</update> -->
	
	<!-- 산정보 API에 MNTNCD(산코드)가 누락되는 경우 및 이름이 다른 경우가 있어 MNTNM & MNTNCD 둘 중 하나만 맞아도 업데이트함 -->	
	<update id="updateMountainInfo" parameterType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
			UPDATE
				MOUNTAIN_INFO
			<set>
				MNTHEIGHT=#{mntheight}, AREANM=#{areanm}, AEATREASON=#{aeatreason}, 
				ETCCOURSE=#{etccourse}, OVERVIEW=#{overview}, SUBNM=#{subnm}, 
				TOURISMINF=#{tourisminf}, DETAILS=#{details}, MI_LMODAT=DATE_FORMAT(NOW(),'%Y%m%d'),
				MNTNATTCHIMAGESEQ=#{mntnattchimageseq}, TRANSPORT=#{transport},
				LAT=#{lat}, LOT=#{lot}
			</set>
			<where>
				OR MNTNM=#{mntnm}
				OR MNTNCD=#{mntncd}
			</where>
	</update>
	
	<!-- delete -->
	<delete id="deleteMountainInfoList">
		DELETE FROM MOUNTAIN_INFO
	</delete>
	
	<!-- select miNum list for random recommendation -->
	<select id="selectMiNumList" resultType="int">
		SELECT MI_NUM
		FROM MOUNTAIN_INFO
	</select>
	
	<!-- select recommended mountain list -->
	<select id="selectRecommendedMountainList" resultType="com.yummyclimbing.vo.mountain.MountainInfoItemVO">
		SELECT
			DISTINCT MI.MI_NUM, MNTNM, MNTNATTCHIMAGESEQ
		FROM
			MOUNTAIN_INFO MI
		INNER JOIN RANDOM_RECOMMENDATION RR
			ON RR_CREDAT = DATE_FORMAT(NOW(),'%Y%m%d')
			AND RR.MI_NUM = MI.MI_NUM
		ORDER BY
			MNTNM ASC
	</select>
	
	<!-- select mntnm and areanm for searching mountain -->
	<select id="selectMountainNameAndArea" resultType="com.yummyclimbing.vo.mountain.MountainSearchVO">
		SELECT MNTNM, AREANM
		FROM MOUNTAIN_INFO
		<where>
			<if test='searchText != null and searchText != ""'>
				AND MNTNM LIKE CONCAT('%',#{searchText},'%') OR AREANM LIKE CONCAT('%',#{searchText},'%') 
			</if>
		</where>
		ORDER BY MNTNM ASC
	</select>
</mapper>