<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yummyclimbing.mapper.user.UserInfoMapper">

	<sql id="userInfoCols">
		UI_NUM, UI_ID, UI_PWD, UI_NAME,
		UI_NICKNAME, UI_ADDR,
		UI_ZONECODE, UI_GRADE,
		UI_AGE, UI_GENDER, UI_IMG_PATH, UI_CREDAT,
		UI_ACTIVE, UI_QUESTION, UI_ANSWER
	</sql>

	<!-- 회원정보 가져오기 -->
	<select id="selectUserInfo"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT
		<include refid="userInfoCols" />
		FROM USER_INFO
		WHERE UI_NUM = #{uiNum}
	</select>
	
	<!-- ID 찾기 -->
	<select id="findUserId"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT
		UI_ID
		FROM USER_INFO
		WHERE UI_NAME = #{uiName}
		AND UI_QUESTION = #{uiQuestion}
		AND UI_ANSWER = #{uiAnswer}
	</select>
	
		
	<!-- PWD 재설정 하기(찾기) -->
	<update id="findUserPwd">
		UPDATE USER_INFO
		SET	UI_PWD = #{uiPwd}
		WHERE UI_ID = #{uiId}
		AND UI_QUESTION = #{uiQuestion}
		AND UI_ANSWER LIKE CONCAT('%',#{uiAnswer},'%') 
	</update>


		<!-- 로그인 -->
	<select id="loginUserInfo"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT
		<include refid="userInfoCols" />
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
		AND UI_PWD = #{uiPwd}
	</select>


		<!--아이디 중복확인용 -->
	<select id="selectUserInfoById"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT
		<include refid="userInfoCols" />
		FROM USER_INFO
		WHERE UI_ID = #{uiId}
	</select>
	
		<!--닉네임 중복확인 -->
	<select id="selectUserInfoByNickname"
		resultType="com.yummyclimbing.vo.user.UserInfoVO">
		SELECT
		<include refid="userInfoCols" />
		FROM USER_INFO
		WHERE UI_NICKNAME = #{uiNickname}
	</select>


	<!-- 회원가입용 sql -->
	<insert id="insertUserInfo"
		parameterType="com.yummyclimbing.vo.user.UserInfoVO">
		
		INSERT INTO USER_INFO(
		UI_ID, UI_PWD, UI_NAME, UI_NICKNAME,
		UI_ADDR, UI_ZONECODE, UI_AGE, UI_GENDER,
		UI_IMG_PATH, UI_ACTIVE, UI_QUESTION, UI_ANSWER
		) VALUES(
		#{uiId}, #{uiPwd}, #{uiName}, #{uiNickname},
		#{uiAddr}, #{uiZonecode},
		#{uiAge}, #{uiGender},
		#{uiImgPath},1 , #{uiQuestion}, #{uiAnswer}
		)
	</insert>


	<!-- 정보수정 -->
	<update id="updateUserInfo">
		UPDATE USER_INFO
		SET UI_NICKNAME=#{uiNickname},
		UI_PWD=#{uiPwd},
		UI_ADDR=#{uiAddr},
		UI_ZONECODE=#{uiZonecode},
		UI_LMODAT=DATE_FORMAT(NOW(),'%Y%m%d')
		WHERE UI_NUM=#{uiNum}
	</update>

	<!-- 회원 프로필 사진 업로드 -->
	<update id="profileUpload">
		UPDATE USER_INFO
		SET UI_IMG_PATH = 
		<choose>
			<when test='uiImgPath != null'>
				#{uiImgPath}
			</when>
			<otherwise>
				NULL
			</otherwise>
		</choose>
		WHERE UI_NUM=#{uiNum}
	</update>	

	<!-- 회원탈퇴(비활성화) -->
	<delete id="deleteUserInfo">
		UPDATE USER_INFO 
		SET UI_ACTIVE = 0
		UI_ID = 
		WHERE UI_NUM=#{uiNum}
	</delete>

</mapper>